@model Queststore.ViewModels.ViewModelsMentor.ViewModelAddTeam
@{
    ViewData["Title"] = "Add team";
    Layout = "~/Views/Shared/_LayoutMentor.cshtml";
}

<h1 class="page-title">Add team</h1>
<form method="post" asp-action="AddTeam" class="form">
    <label asp-for="ClassId" class="form__label">Select class</label>
    <select asp-for="ClassId" class="form__input" asp-items="@(new SelectList(Model.Classes, "Id", "Name"))">
        <option>...</option>
    </select>
    <div id="class-error" class="error"></div>

    <button class="button button--inverse form__button" type="submit">Select</button>
</form >

<form method="post" asp-action="AddTeam" class="form">
    <label class="form__label">Add students to team:</label>
    <ul class="list">
        @for (int i = 0; i < Model.Students.Count; i++)
        {
        <li class="list__item list__item--hover">
            <label class="item__name" asp-for="Students[i].Id">@(i + 1). @Model.Students[i].Name @Model.Students[i].Surname - @Model.Students[i].Language</label>
            <input type="checkbox"/>
        </li>
        }
    </ul>
    <label asp-for="TeamName" class="form__label">Team name</label>
    <input class="form__input" type="text" asp-for="TeamName" required />
    <div id="name-error" class="error"></div>

    <button class="button button--inverse form__button" type="submit">Add team</button>

</form>


