@model Queststore.ViewModels.ViewModelsAdmin.IndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>News</h1>
<div class="news-box">
    <span class="news-box__date">@Model.Class.CreateTime.ToShortDateString()</span>
    <span class="news-box__text">Added Class: @Model.Class.Name </span>
    <span class="news-box__points">@Model.Class.City</span>
</div>
<div class="news-box">
    <span class="news-box__date">@Model.Level.CreateTime.ToShortDateString()</span>
    <span class="news-box__text">@Model.Level.Name</span>
    <span class="news-box__points">@Model.Level.MinPoints</span>
</div>