@model Queststore.ViewModels.ViewModelsAdmin.ViewModelMentorClasses
@{
    ViewData["Title"] = "MentorProfileView";
}

    <section class="info-page">
        <h1 class="page-title">Mentor's info</h1>
        <div class="info-page__item">First name: <span class="info-page__item--bold">@Model.Mentor.Name</span></div>
        <div class="info-page__item">Last name: <span class="info-page__item--bold">@Model.Mentor.Surname</span></div>
        <div class="info-page__item">Address: <span class="info-page__item--bold">@Model.Mentor.Address</span></div>
        <div class="info-page__item">Phone: <span class="info-page__item--bold">(0048)@Model.Mentor.Phone</span></div>
        <div class="info-page__item">Email: <span class="info-page__item--bold">@Model.Mentor.Email</span></div>
        <div class="info-page__item">
            <h3>Classes:</h3>
            <ul class="list">
                @{
                    int counter = 1;
                    @foreach (var group in Model.Classes)
                    {
                        <li class="list__item list__item--hover">
                            <span class="item__name">@counter  @group.Name @group.City</span>
                            <a class="button button--hidden " href="">View</a>
                        </li>
                        counter+= 1;
                    }
                }
            </ul>
        </div>
        <a class="button button--inverse form__button" asp-action="MentorsList">Back</a>
    </section>