@model Queststore.ViewModels.ViewModelsStudent.BuyMagicArtifact

@{
    ViewData["Title"] = "Buy Magic Item";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h1 class="page-title">Buy Magic Artifact</h1>
@if(!Model.IsAssignedToTeam)
{
    <p>You are not assigned to any team.</p>
}
else if (Model.OkToBuyArtifact)
{
    <p>Are You sure You want to buy magic artifact with team:</p>
    <p>"@Model.MagicArtifact.Name" - @Model.MagicArtifact.Price cc.</p>
    <div>
        <form method="post" asp-controller="Student" asp-action="BuyMagicItem" class="form">
            <input asp-for="Student.Id" type="hidden" value="@Model.Student.Id" />
            <input asp-for="MagicArtifact.Id" type="hidden" value="@Model.MagicArtifact.Id" />
            <button class="button button--inverse form__button" type="submit">Buy</button>
        </form>
    </div>
}
else
{
    <p>Your team doesn't have enough money to buy this artifact.</p>
    <p>The artifact's price is @Model.MagicArtifact.Price cc.</p>
}
<div><a class="button button--inverse form__button" href="/Student/Shop">Back</a></div>
